.corpo iframe{
	border: none;
	position: absolute;
	top: 50;
	left: 0;
	width: 99%;
	height: 90%;
	overflow-x: hidden;
	overflow-y: hidden;
}

input[type=checkbox] + label a{
	color: black;
	text-decoration: none;
	font-family: verdana;
}

input[type=checkbox]:checked + label a{
	color: #ccc;
	font-style: italic;
	text-decoration: line-through;
}