html, body {
  overflow-x: hidden;
}

.menu{
	border: none;
	position: relative;
	top: -39px;
	margin-left: 0;
	margin-right: 0;
	float: top;
}

.menuBar{
	margin: 0;
	min-height: 39px;
	background-color: #555;
	z-index: -1;
}

.menuItem{
	text-align: center;
	cursor: default;
	position: relative;
	padding: 10px;
	float: left;
	display: inline-block;
	background: #555;
	color: white;
	border: none;
	font-family: verdana;
	font-size: 16;
	z-index: 2;
}

a{
	cursor: default;
	color: white;
	font-family: verdana;
	text-decoration: none;
}

.menuItem:hover{
	background: #999;
}

.menuItem ul{
	list-style: none;
	display: none;
	position: relative;
	left: 0;
	padding: 0;
	background-color: #555;
}

.menuItem ul li{
	float: none;
}

.menu:hover ul, .menuItem ul li:hover ul, .menuItem:hover ul{
	display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #555;
    top: 39px;
    left: 0;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown a {
	padding: 10px;
    float: none;
    display: block;
}

.dropdown a:hover {
	background-color: #999
}

.dropdown button {
	padding: 10px;
    float: none;
    display: block;
}

.dropdown button:hover {
	background-color: #999
}

.menuItem:hover .dropdown {
    display: block;
}